$helvetica-font: Helvetica, sans-serif
$primary-color: #2e111a
$secondary-color: #AA104F
$tertiary-color: #E75480
$background: url("https://i.imgur.com/L9JwPub.png")


html
  font-family: $helvetica-font
  color: $primary-color
  background-image: $background
  background-size: 100% 100%
  margin: 2vw 2vw

aside
  float: left

summary, li
  list-style-type: none
  font-size: 2.5vw

a
  text-decoration: none
  color: $tertiary-color

a:hover, summary:hover
  color: $secondary-color

.center
  align-content: center
  color: $secondary-color
