$helvetica-font: Helvetica, sans-serif
$marcellus-font: 'Marcellus', sans-serif
$very-dark-red: #2e111a
$dark-pink: #AA104F
$jade-green: #01A66F
$dark-green: #198450
$pale-green: #ccfdcc
$sakurabackground: url("https://i.imgur.com/L9JwPub.png")


html, form, button, input, textarea
  font-family: $marcellus-font
  color: $very-dark-red
  background-image: $sakurabackground
  background-size: 100% 100%
  margin: 2vw 2vw
  font-size: 2.5vw

.textarea
  width: 40vw
  height: 20vw
  font-size: 3.2vw


aside
  float: left

summary, li
  list-style-type: none

a, summary:hover, .search
  text-decoration: none
  color: $dark-pink

a:hover
  color: $jade-green

button, .submit
  background: $pale-green

.center
  align-content: center
  color: $very-dark-red

.welcome
  color: $dark-green

@media (max-width: 700px)
  html, form, button, input
    font-size: 3.5vw
